@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  /* background-color: #005986; */
  /* user-select: none; */
}
.cnt {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.landing {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 9;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  /* animation: starting ease-in-out 5s; */
  top: -100%;
}
.landing img {
  height: 70%;
}
@keyframes starting {
  0% {
    top: 0%;
  }
  80% {
    top: 0%;
  }
  100% {
    top: -100%;
  }
}
.cloud1 {
  top: 7vw;
  left: 5vw;
  position: absolute;
}
.cloud2 {
  top: 17vw;
  right: 15vw;
  position: absolute;
}
.nav {
  background-color: rgb(27, 27, 27);
}
.nav h3 {
  font-size: 2vmax;
  padding: 2vh;
  color: white;
  font-family: Roboto;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav h3 span {
  margin-left: 10px;
}
.search {
  position: absolute;
  top: 110%;
  min-height: 0vw;
  max-height: 15vmax;
  width: 64%;
  background-color: white;
  border: 1px solid #777777;
  border-radius: 0.3vmax;
  overflow-y: auto;
  z-index: 5;
}
.search::-webkit-scrollbar {
  width: 0.4vw;
  background-color: rgb(22, 0, 88);
}
.search::-webkit-scrollbar-thumb {
  width: 0.4vw;
  background-color: #ffffffa9;
  border-radius: 100px;
}
p {
  padding: 0.5vmax;
  padding-left: 0.5vw;
  /* background-color: blue; */
  margin-bottom: 0vw;
  /* border-bottom: 1px solid rgb(177, 162, 162); */
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  font-size: 1.3vmax;
  font-family: Roboto;
}
p:hover {
  cursor: pointer;
  background-color: #7aedff9a;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4%;
  background-color: #b1afaf;
  border-radius: 0 0.3vmax 0.3vmax 0;
}
.icon svg {
  width: 60%;
  height: 60%;
}
.icon:hover {
  background-color: grey;
}
.inp {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 1vh;
}
input {
  font-size: 1.3vmax;
  width: 60%;
  outline: none;
  border: none;
  padding: 0.5vmax;
  border-radius: 0.3vmax 0 0 0.3vmax;
}
input:focus {
  border: 2px solid #0004ff86;
  border-right: none;
}
input:focus + .icon {
  border: 2px solid #0004ff86;
  border-left: none;
}
.main {
  display: flex;
  justify-content: center;
  width: 100%;
}
.main .box-cnt {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40vw;
  padding: 1vh;
  border-radius: 1vw;
  font-family: Roboto;
  transition: all 0.5s;
}
.box-cnt {
  width: 30vw;
  padding: 1vh;
  border-radius: 1vw;
  font-family: Roboto;
  transition: all 0.5s;
}
.box-cnt:hover {
  /* 20px 20px 25px 4px */
  transform: translate(0, -0.5vh);
  box-shadow: 10px 10px 28px 0px;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5vmax;
}
.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  height: 19vh;
}
.box span {
  font-size: 1.5vmax;
  font-weight: 500;
  color: #002132;
  margin: 1vh 0;
}
.forecast {
  display: flex;
  gap: 1vmax;
  margin-top: 1vh;
  width: 100%;
  flex-wrap: wrap;
}
.forecast .img-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forecast .img-box img {
  height: 9vh;
}

/* uiverse */
.container {
  position: relative;
  font-family: sans-serif;
  padding: 0 1vmax;
  justify-content: center;
}
.container .boxer {
  width: 22vh;
  /* height: 15.875em; */
  padding: 1rem;
  background-color: rgba(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 0.7rem;
  transition: all ease 0.3s;
}
.container .boxer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .boxer .title {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.container .boxer div strong {
  display: block;
  margin-bottom: 0.5rem;
}
.container .boxer div p {
  margin: 0;
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 0.1em;
  padding: 0;
}
.container .boxer div span {
  font-size: 0.7rem;
  font-weight: 300;
}
.container .boxer div span:nth-child(3) {
  font-weight: 500;
  margin-right: 0.2rem;
}
.container .boxer:hover {
  box-shadow: 0px 0px 20px 1px #ffbb763f;
  border: 1px solid rgba(255, 255, 255, 0.454);
}
.cardm {
  padding: 7em 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 46.64%;
  left: 50%;
}

.card {
  /* position: absolute; */
  width: 250px;
  height: 130px;
  border-radius: 25px;
  background: whitesmoke;
  color: black;
  z-index: 2;
  transition: 0.4s ease-in-out;
}

.weather {
  position: relative;
  margin: 1em;
}

.main2 {
  font-size: 2em;
  position: relative;
  top: -3.4em;
  text-align: end;
  padding-right: 1.3em;
}

.mainsub {
  position: relative;
  top: -10.2em;
  font-size: 0.6em;
  text-align: -webkit-center;
  padding-left: 9em;
}

.card2 {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 240px;
  height: 130px;
  border-radius: 35px;
  background: white;
  z-index: 1;
  transition: 0.4s ease-in-out;
}

.card:hover {
  background-color: #ffe87c;
  cursor: pointer;
}

.card:hover + .card2 {
  height: 300px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.card:hover + .card2 .lower {
  top: 20.2em;
}

.upper {
  display: flex;
  flex-direction: row;
  position: relative;
  color: black;
  left: 1.8em;
  top: 0.5em;
  gap: 4em;
}

.humiditytext {
  position: relative;
  left: 3.6em;
  top: 2.7em;
  font-size: 0.6em;
}

.airtext {
  position: relative;
  left: 3.8em;
  top: 2.7em;
  font-size: 0.6em;
}

.lower {
  display: flex;
  flex-direction: row;
  position: absolute;
  text-align: center;
  color: black;
  left: 3em;
  top: 1em;
  margin-top: 0.7em;
  font-size: 0.7em;
  transition: 0.4s ease-in-out;
}

.aqi {
  margin-right: 3.25em;
}

.realfeel {
  margin-right: 1.8em;
}

.card3 {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 30px;
  top: 4.7em;
  left: -2.4em;
  font-size: 1.24em;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  transition: 0.4s ease-in-out;
}

.clear {
  background: limegreen;
}

.haze {
  background-color: orange;
}

.clouds {
  background-color: yellow;
}
.rain {
  background-color: red;
}

@media screen and (max-width: 768px) {
  input {
    width: 80%;
    font-size: 1.2rem;
  }
  .icon {
    width: 10%;
  }
  .search {
    width: 90%;
  }
  .search p {
    font-size: 1.2rem;
  }
  .cloud {
    display: none;
  }
}
